body {
  background: rgba(113,113,76,.05);
}

@keyframes slide {
  0% { }
  50% { opacity: 1; }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.delete {
  transition: all 0.2s;
}

.overcrowded,
.delete:hover {
  background-color: #B33A3A;
  color: white;
}

