html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

input {
  font-family: Lato, sans-serif;
}

#root {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.loader {
	border: 5px solid #2d2d2c; /* licorice */
	border-top: 5px solid #00d790; /* melon */
	border-left: 5px solid #00d790; /* melon */
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
