html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

input {
  font-family: Lato, sans-serif;
}

#root {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
