.admin-container {
  padding: 25px;
}

.admin-building {
  margin-bottom: 15px;
  font-size: 22px;
}

.admin-building-header {
  padding-right: 10px;
}

.admin-building-count {
  margin-right: 5px;
}

.admin-container
input {
  width: 250px;
}
