html {
    background-color: #2d2d2c;
    color: white;
}

.building {
    transition: 0.2s ease-in-out;
    font-weight: 200;
    cursor: pointer;
	margin: 10px 0;
}

.buildings > ul {
    list-style: none;
	padding: 0;
}

.buildings > h1 {
	text-transform: uppercase;
}

.buildings {
    font-size: 40px;
    text-align: left;
	user-select: none;
    padding: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.building:hover {
    background-color: #e73953;
}
