.building {
  transition: 0.2s ease-in-out;
  font-weight: 200;
  cursor: pointer;
  padding: 10px 0;
  user-select: none;
  overflow: hidden;
  overflow-y: auto;
}

.statistics-link {
  flex: 2;
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
  font-size: 35px;
}

.buildings > ul {
  list-style: none;
  padding: 0;
}

.buildings > h1 {
  padding-top: 30px;
  color: #00d790;
}

* {
  box-sizing: border-box;
}

.buildings {
  margin: 10px 20px;
  font-size: 25px;
  text-align: left;
  color: white;
}

a {
  font-family: Lato, sans-serif;
  text-decoration: none;
  color: white;
}

.building:hover {
  background-color: #e73953;
}

.buildings-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translateY(250px);
  animation: slide 350ms forwards;
}

.buildings-loader {
  margin: 100px;
  align-self: center;
}

@media screen and (max-width: 350px) {
  .buildings {
    font-size: 20px;
    text-align: left;
    color: white;
  }
}
