.building {
    transition: 0.2s ease-in-out;
    font-weight: 200;
    cursor: pointer;
	padding: 10px 0;
}

.buildings > ul {
    list-style: none;
	padding: 0;
	margin: 20px;
}

.buildings > h1 {
	text-transform: uppercase;
	margin: 20px;
}

* {
	box-sizing: border-box;
}

.buildings {
    font-size: 40px;
    text-align: left;
	user-select: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.building:hover {
    background-color: #e73953;
}

buildingsContainer {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background-color: #2d2d2c;
}
