.counter {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.counter-value {
  align-self: center;
  font-weight: 200;
  text-align: center;
}

.counter-button {
  display: block;
  background: none;
  border: none;
  color: white;
  font-size: 120px;
  font-weight: 200;
  cursor: pointer;
  outline: none;
  user-select: none;
  tap-highlight-color: transparent;
}

.counter-button:active {
  transform: scale(1.1);
}

.counter-container {
  max-width: 100vw;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 35px;
  transform: translateY(250px);
  animation: slide 350ms forwards;
}

.buttons {
  display:flex;
}

.buttons > button {
  flex: 50%;
}


/* melon #00d790 */
/* grape #e73953 */
/* licorice #2d2d2c */
