.counter {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.counter > h1 {
  text-align: center;
  color: #00d790;
  padding-bottom: 50px;
  padding-top: 30px;
}

.counter-navigate {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  opacity: 0.7;
  font-size: 17px;
}

.counter-value {
  align-self: center;
  font-weight: 200;
  text-align: center;
}

.counter-button {
  display: block;
  width: 150px;
  height: 100px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
  user-select: none;
  tap-highlight-color: transparent;
}

.counter-button:active {
  transform: scale(1.1);
}

.counter-container {
  max-width: 100vw;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 35px;
  transform: translateY(250px);
  animation: slide 350ms forwards;
}

.buttons {
  display:flex;
}

.buttons > button {
  flex: 50%;
}


/* melon #00d790 */
/* grape #e73953 */
/* licorice #2d2d2c */
