.counter {
  display: flex;
  flex-direction: column;
}

.counter-value {
  align-self: center;
}

.counter-button {
  max-width: 100vw;
  display: block;
  background: none;
  outline: none;
  border: none;
  transition: 0.5s;
  color: white;
  font-size: 150px;
}

.counter-button:hover {
  background-color: #e73953;
}

.counter-container {
  max-width: 100vw;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 50px;
}

.buttons {
  display:flex;
}

.buttons > button {
  flex: 50%;
}


/* melon #00d790 */
/* grape #e73953 */
/* licorice #2d2d2c */
